@font-face {
  font-family: 'Alkatra';
  src: local('Alkatra'), url('../fonts/Alkatra-VariableFont_wght.ttf');
}

body {
  background-image: none;
  background-repeat: no-repeat;
  background-color: black;
}

#full-page-effects {
  position: fixed;
  padding: 0;
  margin: 0;
  
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px) grayscale(55%);

  display: flex;
  align-items: center; justify-content: center;
}

.factP {
  font-family: 'Alkatra';
  font-size: 1.15em;
  text-shadow: -1px -1px 0 #00000091, 1px -1px 0 #00000091, -1px 1px 0 #00000091, 1px 1px 0 #00000091;
}